* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration-line: none;
    color: rgb(0,0,0);
}

body {
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
    margin: 1%;
}

div.box {
    background-color: #ffffff;
    /* border: 1px solid black; */
    opacity: 0.6;
}

div.box h1{
    font-weight: bold;
    color: #000000;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 18%;
}
  
div.gallery:hover {
border: 1px solid #777;
}

div.gallery img {
width: auto;
height: auto;
}

div.desc {
padding: 15px;
text-align: center;
}

div.gallery img {
    width: 100%;
    height: auto;
}

h1 {
    color: rgb(0,0,0);
    font-size: 60px;
    margin:1%;
    /* float: left; */
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    text-align:  center;
    color: rgb(0,0,0);
}

p {
    color: rgb(0,0,0);
    font-size: 12 px;
    margin: 2%;
    padding: 5%;
}

ul {
    list-style-type: none;
    padding: 1vw;
    overflow: hidden;
    text-align: center;
}

.active {
    background-color: rgba(104, 99, 99, 0.507);
}

.border-box {
    border: 5px groove rgb(0,0,0);
    width: 80%;
    padding: 2%
}

.button {
    margin: 5% 42% 5% 42%;
    background-color: #c9bda4;
    border: 1px solid black;
    opacity: 0.8;
    padding: 3% 7% 4% 6%;
    font-size: 35px;
}

.button:hover{
    background-color: #918773;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    float: none;
}

.cent {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    float: none;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.foot {
    /* margin-left: 1% ; */
    height: 3%;
    font-size: 14px;
    color: rgb(30, 26,44);
    text-align: left;
}

.footer-basic {
    background-color: #ffffff;
    color:rgb(0,0,0);
    /* margin-top: 56em; */
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:rgb(0,0,0);
    margin-bottom:1%;
    padding: 0;
    position: absolute;
    width: 90%;
}

.header {
    /* top: 2%; */
    left: 2%;
    right: 2%;
    height: 10%;
    background-color: rgba(104, 99, 99, 0.932);
}

.mainbody {
    height: 100%;
    top: 114px;
    bottom: 64px;
    left: 114px;
    right: 114px;
}

.menu {
    height: 5%;
    margin: 2%;
}

.n-li {
    float: none;
}

.n-lia {
    display: contents;
    color: rgb(0,0,0);
}

.n-ul {
    list-style-type: none;
    padding: 1vw;
    
}

.n-section{ 
    padding-top: 10%;
    /* height: 90vh; */
    display: block;
}

.padding{
    padding-top: 1%;
}

.section { 
    padding-top: 10%;
    height: 93vh;
    display: block;
}

.section1 {
    border:hidden;
}

.cater{
    border: 1px solid rgb(0,0,0);
    background: url(../images/bao.jpg);
    background-size: auto;
    color: rgb(0,0,0);
    margin-bottom: 2%;
    
}

.homemade{
    border: 1px solid rgb(0,0,0);
    background: url(../images/foccacia.jpg);
    background-size: auto;
    margin-bottom: 2%;
}

.order{
    border: 1px solid rgb(0,0,0);
    background: url(../images/pinapplecake.jpg);
    background-size: auto;
    margin-bottom: 2%;
}