* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: gray;
  background-color: rgb(252, 247, 247);
  font-family: sans-serif;
}

img {
  width: 360px;
  height: 360px;
}
p {
  font-size: 20px;
  font-style: oblique;
  padding: 1vw;
}

ul {
  list-style-type: none;
  padding: 0;
  /* background-color: black; */
  overflow: hidden;
  text-align: center;
  padding: 1vw;
}

li {
  float: left;
  /* border: 1px gray solid; */
}

li a {
  display: block;
  padding: 14px 16px;
  text-align: center;
  /* background-color: black; */
  color: black;
}

.active {
  background-color: gray;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  float: none;
}

.para {
  border: 2px solid rgb(75, 71, 71);
  margin: 2%;
}

.menu {
  height: 5%;
  margin: 2%;
  /* padding-bottom: 7.5vh; */
}

.header {
  top: 5px;
  left: 5px;
  right: 5px;
  height: 7%;
  z-index: 2;
  margin-bottom: 10%;
}

.mainbody {
  height: 80%;
  top: 114px;
  bottom: 64px;
  left: 114px;
  right: 114px;
  padding-right: 5px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.photo-grid {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row-reverse; /* <--- Really freaking cool! */
  align-items: center;
}

.photo-grid-item {
  margin-top: 2%;
  margin-bottom: 2%;
  /* border: 1px solid black; */
  width: 50%;
  height: min-content;
}

.section {
  height: 45%;
  margin-bottom: 5%;
  border: 1px solid rgb(75, 71, 71);
}

.smaller {
  width: 30%;
}

.footer {
  margin: 2% 0 1% 2%;
  height: 10%;
  font-size: 14px;
  color: #999999;
  text-align: left;
  /* position:relative; */
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #eedfdf; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #f5eee2; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #eaf0f7; /* Blue */
  }
}
